<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userlog</title>
</head>
<body>
    <h1>core idea about our app</h1>
    <br>
    <br>
    <form method="post">
        <input type="text" name="username" required placeholder="enter your name">
        <input type="email" name="email" required placeholder="enter your email">
        <input type="password" name="password" required placeholder="create a strong password">
            <select name="role" required>

        <option value="" disabled selected>
            Select your role
        </option>

        <option value="farmer">
            Farmer
        </option>

        <option value="buyer">
            Buyer
        </option>
                <option value="other">
            other
        </option>
        <input type="submit" <button></button>  
    </form>

    <a href="/login_user">if you have account then login in user</a>
</body>
</html>